@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sentry-purple: #584774;
  --sentry-purple-light: #6C5B8E;
  --sentry-gray: #2F2936;
  --sentry-gray-light: #4A4458;
}

body {
  @apply bg-gray-50;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 